﻿@model IEnumerable<Movie.Web.MediaServiceReference.Award>
<html>
<link href="~/Content/Title.css" rel="stylesheet" />
 <head> <title>Title | Awards </title></head>
<body>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
<h2>AwardDetails for the @ViewBag.TitleName </h2>
<table>
    <tr>
        <th>
            @Html.DisplayName("Title")
        </th>        
        <th>
            @Html.DisplayNameFor(model => model.AwardYear) &nbsp;
        </th>
        <th>
            @Html.DisplayName("Award")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AwardCompany)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TitleName)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.AwardYear)  
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AwardName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AwardCompany)
        </td>
        
    </tr>
}    
</table>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
 </body>
</html>