﻿@model Movie.Web.MediaServiceReference.Media
<html>
    <head>
        <link href="~/Content/Title.css" rel="stylesheet" />
        <title> Title | Details</title>
    </head>
<body>
    <div class="DetailDiv">

        <table>
            <tr class="to_label"></tr>
            <tr>
                <td>
                    <b>@Html.DisplayNameFor(model => model.TitleName)    :</b>
                    @Html.DisplayFor(model => model.TitleName)<br />
                    <b>@Html.DisplayNameFor(model => model.ReleaseYear)  :</b>
                    @Html.DisplayFor(model => model.ReleaseYear)
                </td>
            </tr>
        </table>
    </div>

    <p class="DetailDiv"> <b>Genre : </b> @ViewBag.GenreName</p>
    <div>
        <p>
            @Html.ActionLink("AwardDetails", "AwardDetails", new { TitleId = Model.TitleId }) |
            @Html.ActionLink("Cast", "Cast", new { TitleId = Model.TitleId }) |
            @Html.ActionLink("StoryLines", "StoryLines", new { TitleId = Model.TitleId }) |
        </p>
    </div>

    <p>@Html.ActionLink("Back to List", "Index")</p>
</body>
</html>