﻿@model IEnumerable<Movie.Web.MediaServiceReference.StoryLine>
<html>
<link href="~/Content/Title.css" rel="stylesheet" />
 <head> <title>Title | StoryLine </title></head>
<body>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
<h2>StoryLines for the @ViewBag.TitleName </h2>
    <div class="DivStoryLine">
        <table>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TitleName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Language)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TitleName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Language)
                    </td>
                    <td>
                        <p>@Html.DisplayFor(modelItem => item.Description)</p>
                    </td>
                </tr>
            }

        </table>
    </div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
</body>
</html>